<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/new">
        <input type="text" placeholder="Message" name="message">
        <input type="text" placeholder="User" name="user">
        <input type="submit">
     </form>     

  </body>
</html>
