@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

:root {
    --left-height: 100vh;
    --left-width: 70vw;
    --logo-height: 10vh;
    --logo-gap: 1vw;
    --logo-font-size: 1.8rem;
    --logo-top-margin: 23vh;
    --banner-background: rgba(0, 0, 0, 0.493);

    --form-background: rgba(235, 234, 234, 0.329);
    --form-side-margin: 3vh 18vw 5vh 8vh;
    --form-side-padding: 3vh 24vw 5vh 8vh;
    --top-text-gap: 5vh;
    --right-font-style: sans-serif;
    --top-font-size: 0.6rem;
    --logIn-font-size: 0.8rem;
}

*, :before, :after, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--form-background);
}

.left {
    display: flex;
    position: relative;
    height: var(--left-height);
    width: var(--left-width);
}

#background {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--left-height);
}

.banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--logo-top-margin);
    gap: var(--logo-gap);
    background-color: var(--banner-background);
    height: calc(var(--logo-height) + 6vh);
    width: 100%;
    font-size: var(--logo-font-size);
    font-family: 'Rubik Burned', sans-serif;
    color: white;
}

#logo {
    height: var(--logo-height);
    align-self: center;
}

.right {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    font-family: var(--right-font-style);
}

.top {
    display: flex;
    flex-direction: column;
    gap: var(--top-text-gap);
    font-size: var(--top-font-size);
    margin: var(--form-side-margin);
}

.whiteBackground {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--form-side-padding);
    box-shadow: 1px 1px 6px black;
    gap: 2vh;
    font-size: 0.8rem;
    color: rgb(39, 39, 39);
}

.whiteBackground > div > div{
    display: flex;
    flex-direction: column;
    font-weight: 550;
}

.whiteBackground h3 {
    font-size: 1.4rem;
}

.whiteBackground > div {
    display: flex;
    gap: 5vw;
}

.whiteBackground > div > div > input {
    width: 16vw;
    height: 4.8vh;
    border-radius: 6px;
    border: 1px #E5E7EB solid;
    padding: 0 0 0 0.7vw;
    font-size: 1rem;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: 550;
    font-size: 0.9rem;
    border: none;
    width: 14vw;
    height: 7.2vh;
    border-radius: 10px;
    margin: var(--form-side-padding);
    margin-top: 5vh;
    margin-bottom: 3vh;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #303f24;
}

#logIn {
    margin: var(--form-side-margin);
    margin-top: 0;
    font-size: var(--logIn-font-size);
}

#logIn a {
    color: #596D48;
    text-decoration: none;
}