@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
}

:root {
    --gap: 4vh;
    --box-size: max(10vh, 10vw);
    --box-color: rgb(212, 212, 212);
}

body {
    background-color: rgb(236, 203, 170);
}

.white {
    background-color: white;
    color: black;
    text-shadow: 2px 2px 0px rgb(212, 210, 210);
}

.black {
    background-color: rgb(62, 61, 60);
    color: rgb(199, 197, 197);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    width: 30vh;
    font-size: 5vh;
}

.playGround {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: var(--gap);
    margin-top: calc(-var(--gap));
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(3, var(--box-size));
    grid-auto-rows: var(--box-size);
}

.box {
    background-color: var(--box-color);
    outline: 2px solid black;
    cursor: pointer;
}

button {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 27px;
    outline: 0;
    border: solid 2px black;
    background-color: var(--box-color);
    cursor: pointer;
}

dialog {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    text-shadow: 1px 1px 0px white;
}

.win {
    background-color: rgba(195, 245, 206, 0.778);
}

.draw {
    background-color: rgba(198, 93, 58, 0.724);
}

dialog > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

dialog > div > h1 {
    width: 100vw;
}