*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gap: 4vh;
    --box-size: max(10vh, 10vw);
}

body {
    background-color: rgb(236, 203, 170);
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: rgb(62, 61, 60);
    color: rgb(199, 197, 197);
}

#welcome {
    text-align: center;
    width: 30vh;
    font-size: 5vh;
}

.playGround {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: var(--gap);
    margin-top: calc(-var(--gap));
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(3, var(--box-size));
    grid-auto-rows: var(--box-size);
}

.box {
    background-color: rgb(212, 212, 212);
    outline: 2px solid black;
    cursor: pointer;
}