*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
}

body {
    background-image: url("../assets/images/logo.webp");
    background-position: 0 -10vh;
    background-image: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*home*/

#content {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.486);
    padding: 2vh 3vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(250, 248, 127);
}

#content > p {
    text-align: justify;
    text-indent: 50px;
}
